body{
    background: url("https://cdn-images-1.medium.com/max/2000/1*r2AuXvDuxdRWCqvmBhlssw.png");
}
#chat{
    background: linear-gradient(-135deg, #E4A972, #9941D8);
    }
.card-body .ico img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card-body .ico .card-subtitle {
    text-align: center;
}
.card-body{
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.massage{
    padding-left: 30px;
}