<!DOCTYPE html>
<html>
<head>
  <title>Vue School Chat Room</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/native-toast@1.3.0/dist/native-toast.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/native-toast@1.3.0/dist/native-toast.css">
  <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="chat" class="container">
  <h1><img src="https://www.google.com/a/cpanel/protechig.com/images/logo.gif?service=google_gsuite"></h1>
  <!-- Messages -->
  <div v-for="message in messages" class="card">
    <div class="card-body">
        <div class="ico">
          <img src="https://images.vexels.com/media/users/3/145908/preview2/52eabf633ca6414e60a7677b0b917d92-male-avatar-maker.jpg">
          <!-- nickname -->
          <h6 class="card-subtitle mb-2 text-muted">{{ message.nickname }}</h6>
        </div>
         
        <div class="massage">
     
      <!-- content -->
      <p v-if="message !== editingMessage" class="card-text">{{ message.text }}</p>
      <textarea v-else v-model="messageText" class="form-control"></textarea>
      <!-- actions -->
      <div v-if="message !== editingMessage">
        <a @click.prevent="deleteMessage(message)" href="#" class="card-link">delete</a>
        <a @click.prevent="editMessage(message)" href="#" class="card-link">edit</a>
      </div>
      <div v-else>
        <a @click.prevent="cancelEditing" href="#" class="card-link">cancel</a>
        <a @click.prevent="updateMessage" href="#" class="card-link">update</a>
      </div>
      </div>
    </div>
  </div>

  <hr>
  <!-- New Message -->
  <form v-if="!editingMessage" @submit.prevent="storeMessage">
      <div class="form-group">
          <label>Nickname:</label>
          <input v-model="nickname" class="form-control"/>
        </div>
    <div class="form-group">
      <label>Message:</label>
      <textarea v-model="messageText" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Send</button>
  </form>
</div>


<script type="text/javascript">
  const config = {
    apiKey: "AIzaSyCiIj48dgYTgAUZEwynnftUyHMz9VCOItg",
    authDomain: "johnhashim-206004.firebaseapp.com",
    databaseURL: "https://johnhashim-206004.firebaseio.com",
    projectId: "johnhashim-206004",
    storageBucket: "johnhashim-206004.appspot.com",
    messagingSenderId: "462033190757"
  }
  firebase.initializeApp(config)
  const database = firebase.database()
  const messagesRef = database.ref('messages')
  new Vue({
    el: "#chat",
    data: {
      messages: [],
      messageText: '',
      nickname: '',
      editingMessage: null
    },
    methods: {
      storeMessage () {
        messagesRef.push({text: this.messageText, nickname: this.nickname})
        this.messageText = ''
      },
      deleteMessage (message) {
        messagesRef.child(message.id).remove()
      },
      editMessage (message) {
        this.editingMessage = message
        this.messageText = message.text
      },
      cancelEditing () {
        this.editingMessage = null
        this.messageText = ''
      },
      updateMessage () {
        messagesRef.child(this.editingMessage.id).update({text: this.messageText})
        this.cancelEditing()
      }
    },
    created () {
      // value = snapshot.val() | key = snapshot.key
      messagesRef.on('child_added', snapshot => {
        this.messages.push({...snapshot.val(), id: snapshot.key})
        if(snapshot.val().nickname !== this.nickname){
              nativeToast({
                message: `new massage by ${snapshot.val().nickname}`,
                position: 'top',
                timeout: 5000,
                type: 'success'
              })
        }
      })
      messagesRef.on('child_removed', snapshot => {
        const deletedMessage = this.messages.find(message => message.id === snapshot.key)
        const index = this.messages.indexOf(deletedMessage)
        this.messages.splice(index, 1)
        if(snapshot.val().nickname !== this.nickname){
              nativeToast({
                message: `massage deleted by ${snapshot.val().nickname}`,
                type: 'warning'
              })
        }
      })
      messagesRef.on('child_changed', snapshot => {
        const updatedMessage = this.messages.find(message => message.id === snapshot.key)
        updatedMessage.text = snapshot.val().text
        if(snapshot.val().nickname !== this.nickname){
          nativeToast({
            message: `massage edited by ${snapshot.val().nickname}`,
            type: 'info'
          })
        }
      })
    }
  })

 
</script>
</body>
